/* Global styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .task-list-view {
    display: flex;
    flex-direction: column;
    padding: 25px;
    max-width: 700px; /* set the maximum width to 1200px */
  margin: 0 auto; /* center the container horizontally */
  }

  
  /* Menu component styles */
.menu {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f7f7f7; /* light gray background */
  border-bottom: 1px solid #ddd;
}

.menu input[type="search"] {
  width: 160px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #337ab7; /* blue link color */
}

.menu a:hover {
  color: #23527c; /* darker blue link color on hover */
}

/* SortingComponent styles */
.sort-by {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sort-by select {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

/* Header component styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
  max-width: 1200px; /* adjust the maximum width to your liking */
  margin: 0 auto; /* center the header horizontally */
}

.header .menu {
  margin-right: 20px;
}

.header .sort-by {
  margin-left: 20px;
}
  
 
.task-item {
  border: 1px solid #ddd;
  margin: 5px;
  padding: 15px;
  display: flex;
  align-items: baseline;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
  .task-checkbox-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .task-checkbox-title input[type="checkbox"] {
    margin-right: 10px;
  }

  .task-checkbox-title h3 {
    margin: 0;
    font-weight: bold;
  }

    
  .task-list-headerOverdue,
.task-list-headerToday {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
  
  
  
.add-task-button {
  background-color: #0097a7; 
  color: #fff; 
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.add-task-button:hover {
  background-color: #007a83; 
}


  .delete-task-button {
    background-color: red;
    color: white;
    border: none;
  }
  
  .delete-task-button:hover {
    background-color: darkred;
  }

  .editDelete {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .editDelete button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .task-item.edit-mode {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .task-item.edit-mode{
    display: flex;
    justify-content:space-evenly;
  }
  
  
  .add-task-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .add-task-modal input, .add-task-modal textarea, .add-task-modal select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

 
  .task-list-headerOverdue input[type="date"] {
    width: 100%; 
    max-width: 200px; /* set a maximum width to prevent it from getting too wide */
    padding: 10px;
    font-size: 16px;
  }

  

  
@media (max-width: 768px) { /* adjust the breakpoint to your liking */
  .header {
    flex-direction: column; /* stack the menu and sorting component vertically */
  }
  .task-item.edit-mode{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
  }

  .task-item.edit-mode input, .task-item.edit-mode textarea, .task-item.edit-mode select {
    margin-bottom: 10px; /* add some space between input fields */
  }
}